@charset "utf-8";
@import url(font.css);

body {
  margin: 0;
  padding: 0 !important;
  font-family: "Roboto", "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  color: #444;
}
body a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
}
h1 {
  font-size: 1.5em;
  margin: 0.6em 0;
}
h2 {
  font-size: 1.2em;
  margin: 0.6em 0;
}
h3 {
  font-size: 1.1em;
  margin: 0.5em 0;
}
h4 {
  font-size: 1em;
  margin: 0.4em 0;
}
h5 {
  font-size: 0.8em;
  margin: 0.1em 0;
}
label {
  width: 100%;
  color: rgba(0, 0, 0, 0.54);
  font-size: 13px;
}
.title {
  font-weight: 600;
  font-size: 1.5em;
  margin: 0.3em 0;
}
.subtitle {
  margin: 0 0 0.5em 0;
}
.section {
  margin-bottom: 10px;
}

.right-sidebar-warpper {
  border-left: 1px solid #ddd;
  padding-left: 20px;
  height: 100%;
}
.app-logo {
  height: 30px;
  margin: 10px;
}
.app-home {
  padding: 65px 20px 20px 20px;
  /* background:url(../images/backgrounds/background-01.jpg); */
  /* background-attachment: fixed; */
  /* background-position: center; */
  background-repeat: no-repeat;
  height: 900px;
  background-size: cover;
}
.app-header {
  position: fixed;
  z-index: 5;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  /* background-color: #12315f; */
  color: white;
  padding: 0 4px;
  max-width: 1500px;
  margin: 0 auto;
}
.app-header a,
.app-header a:active,
.app-header a:hover {
  color: #fff;
}
.app-header-left {
  width: 200px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}
.app-header-center {
  flex: auto;
  text-align: center;
  display: table;
  /* width: 100%; */
}
.app-header-right {
  /* padding: 10px; */
  width: 200px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}
.app-header-item {
  /* width: 20px; */
  padding: 15px 10px 14px 10px;
}
.app-content {
  padding: 64px 20px 0 20px;
  height: calc(100vh - 116px);
}
/* Main Navigation */
.app-navigation {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  background: #2b415f;
  /* background: #fff; */
  /* border-top: 1px solid #c1c1c1; */
  color: #fff;
  font-size: 11px;
  z-index: 5;
}
.app-navigation-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app-navigation-item {
  color: #fff;
  /* color: #a7a7a7; */
}
a.active .app-navigation-item {
  color: #60b7ff;
  /* color: #2196f3; */
}

.app-footer {
  margin-top: 100px;
  font-size: 0.8em;
  color: #7a7a7a;
  text-align: center;
}

.app-title {
  font-size: 1em;
}
.app-intro {
  font-size: large;
}

.login-container {
  display: flex;
  flex-direction: column;
}

.p-accordion .p-accordion-content-wrapper-expanded {
  max-height: none;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.app-menu {
  background-color: #e3f2fd;
  height: 50px;
}
.app-menu .main-menu {
  float: left;
}
.app-menu .main-menu a {
  text-decoration: none;
  padding: 15px;
  line-height: 3.1rem;
  border: none;
}
.app-menu .main-menu a:hover {
  background: #d1ecff;
}
.app-menu .user-menu {
  float: left;
}
.app-menu .p-menubar {
  border: none !important;
  background-color: #e3f2fd !important;
}
.app-menu .p-menuitem > .p-menuitem-link {
  padding: 13px !important;
  color: #007ad9 !important;
}
.app-menu .p-menuitem > .p-menuitem-link:hover {
  background: #d1ecff !important;
}
.app-menu .p-menuitem.p-menuitem-active > .p-menuitem-link {
  background: #d1ecff !important;
}
.app-menu .p-menuitem-text {
  color: #007ad9 !important;
  font-size: 16px;
  font-family: "Roboto", "Open Sans", "Helvetica Neue", sans-serif;
}

.app-menu .p-menubar .p-submenu-list {
  min-width: 13.5em;
}

.user-menu-web {
  display: none;
}

.app-footer-web {
  display: none;
}

@media only screen and (min-width: 500px) {
  .app-home {
    height: 900px;
  }
}

@media only screen and (min-width: 768px) {
  .app-home {
    height: 1000px;
  }
}

@media only screen and (min-width: 1025px) {
  .app-home {
    padding: 54px 20px 20px 20px;
    /* background:url(../images/backgrounds/background-03.jpg); */
    background-size: auto;
    background-repeat: no-repeat;
    height: 100%;
  }

  .app-home-header {
    height: 532px;
  }

  .app-home-header h2 {
    font-size: 36px;
    color: #fff;
    text-shadow: 2px 2px 2px #3d3d3d;
    padding-top: 180px;
  }

  .app-header-left {
    width: 300px;
  }
  .app-header-right {
    width: 300px;
  }

  .back-button {
    padding-top: 16px;
  }

  .user-menu {
    display: none;
  }

  .user-menu-web {
    display: flex;
  }

  .app-navigation-item {
    font-size: 15px;
    padding: 15px 10px 14px 10px;
  }

  .app-header-item {
    cursor: pointer;
  }

  .app-header {
    left: 50%;
    transform: translateX(-50%);
  }

  .app-content {
    max-width: 1500px;
    margin: 0 auto;
    min-height: calc(100vh - 190px);
  }

  .app-home-content {
    max-width: 1500px;
    margin: 0 auto;
    text-align: center;
  }

  .app-home-content h2 {
    margin-top: 40px;
  }

  .app-navigation {
    display: none;
  }

  .app-footer-web {
    display: inherit;
    width: 100%;
    background-color: #2b415f;
    font-size: 0.9em;
    color: #c6c6c6;
    position: fixed;
    bottom: 0;
  }

  .web-footer {
    width: 100%;
    height: 100px;
    background-color: #2b415f;
  }

  .web-footer-container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 15px;
  }

  .web-footer-content {
    width: 33%;
    padding: 10px 10px 10px 0px;
    line-height: 1.6em;
  }

  .web-footer-content strong {
    text-transform: uppercase;
    font-weight: 600;
    display: block;
    margin-bottom: 3px;
    color: #fff;
  }

  .web-footer-content a {
    color: #b9b9b9;
    display: block;
  }

  .web-footer-content a:hover {
    color: #fff;
  }

  .social-links a {
    float: left;
    padding-right: 10px;
  }

  .web-footer-small {
    width: 100%;
    background-color: #25374f;
    text-align: left;
  }

  .web-footer-small-container {
    max-width: 1500px;
    margin: 0 auto;
    height: 50px;
    /* padding: 15px 15px 0 15px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-menu {
    width: 33%;
    text-align: center;
  }

  .footer-menu a {
    text-decoration: none;
    color: #b9b9b9;
    padding: 10px;
  }

  .footer-menu a:hover {
    color: #fff;
  }

  .content-rights {
    width: 33%;
    float: left;
  }
}
